.background-grid:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
        repeating-linear-gradient(
            to right,
            transparent,
            transparent calc(304px - 1px),
            rgba(0, 0, 0, 0.5) 304px, /* Increased opacity for testing */
            rgba(0, 0, 0, 0.5) 304px
        );
    border: 1px solid red; /* Debug border */
}

.main-layout {
    position: relative;
    background-color: white;
    min-height: 100vh;
    width: 100%;
    background: 
        repeating-linear-gradient(to right,
            transparent,
            transparent calc(304px - 1px),
            rgba(0, 0, 0, 0.16) 304px,
            rgba(0, 0, 0, 0.16) 304px
        );
    background-size: 304px 100%;
    background-position: center;
    background-repeat: repeat-x;
    margin: 148px;
} 